1. Largest Difference in List

In [42]:
ls = [1, 2, 90, 10, 110]

max = 0
for i in range(len(ls)-1):
  for j in range(i+1,len(ls)):
    diff = ls[j] - ls[i]
    if max < diff:
      max = diff

print(max)

109

2. First Non-Repeating Character

In [49]:
str = 'aabbcc'

def first_non_repeating_character(str):
  first_non_repeating_character_ls = []
  for i in range(len(str)):
    if str[i] in first_non_repeating_character_ls:
      first_non_repeating_character_ls.remove(str[i])
    else:
      first_non_repeating_character_ls.append(str[i])

  if(len(first_non_repeating_character_ls) == 0):
    return None
  else:
    return first_non_repeating_character_ls[0]

print(first_non_repeating_character(str))

None

3. Check If Strings Are Permutations

In [35]:
#Problem #3
def permutations(str1, str2):

#check the length of strings , If lengths differ, they can't be permutations.
    if len(str1) != len(str2):
       return False

#now check the charcter counts
    return sorted (str1) == sorted(str2)

print(permutations("abc", "bca"))

True

4. Find the Second Largest Unique Number

In [36]:
input_list = [4, 5, 6, 6, 7]

def get_second_largest_unique_no(ls):
  if(len(input_list) == 0 or len(input_list) == 1):
    return None

  sorted_input_set = set(sorted(input_list))
  sorted_ls_of_unique_no = list(sorted_input_set)

  if(len(sorted_ls_of_unique_no) == 1):
    return None

  return sorted_ls_of_unique_no[-2];

print(get_second_largest_unique_no(input_list))

6

5. Count Distinct Pairs

In [24]:
target_list=[1,2,3,4,3,6]
count = 0

for x in range(1,6): #here using the range function the first value is not added to itself
  if target_list[0]+target_list[x]==6:
    count = count+1

for x in range(6):
  if target_list[1]+target_list[x]==6 and target_list[1] != target_list[x]: #first condition checks sum and second condition ensures distinct sum
    count = count+1



for x in range(6):
  if target_list[2]+target_list[x]==6 and target_list[2] != target_list[x]:  #first condition checks sum and second condition ensures distinct sum
    count = count+1


for x in range(6):
  if target_list[3]+target_list[x]==6 and target_list[3] != target_list[x]:  #first condition checks sum and second condition ensures distinct sum
    count = count+1

for x in range(6):
  if target_list[4]+target_list[x]==6 and target_list[4] != target_list[x]:   #first condition checks sum and second condition ensures distinct sum
    count = count+1

for x in range(6):
  if target_list[5]+target_list[x]==6 and target_list[5] != target_list[x]:  #first condition checks sum and second condition ensures distinct sum
    count = count+1

print(count)

2

6. Remove Duplicates from List

In [23]:
list_6=[1,2,2,3,4,5,1]
set_6=set(list_6) #converting the list in a set to remove duplicates
new_list_6=list(set_6) #converting back to list
print(new_list_6)

[1, 2, 3, 4, 5]

13. Find the Student with highest score

In [22]:
def highest_scoring_student(scores):
    highest_score = -1
    top_student = ""

    for student, score in scores.items():
        if score > highest_score:
            highest_score = score
            top_student = student

    return top_student

# Example usage:
students = {"Alice": 85, "Bob": 90, "Charlie": 92}
print(highest_scoring_student(students))  # Output: Charlie

Charlie

14. Apply Lambda to List

In [21]:
def apply_lambda_to_list(lst, func):
    return [func(x) for x in lst]

# Example usage:
numbers = [1, 2, 3, 4]
squared = apply_lambda_to_list(numbers, lambda x: x ** 2)
print(squared)  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]

15. Sum or Multiply Based on Keyword Argument

In [20]:
def compute(*args, **kwargs):
    if kwargs.get('operation') == 'multiply':
        result = 1
        for num in args:
            result *= num
    else:
        result = sum(args)
    return result

# Example usage:
print(compute(1, 2, 3, 4, operation='multiply'))  # Output: 24
print(compute(1, 2, 3, 4))

24
10

10. Frequency of Characters in String

In [19]:
def most_freq(s):
    char_count = {}  # dictionary because it has both key and value
    for char in s:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1

    max_count = 0
    result_char = ''


    for char in char_count:
        count = char_count[char]
        if count > max_count or (count == max_count and char < result_char):
            max_count = count
            result_char = char

    return result_char

print(most_freq("aabbbc"))

b

11. Print Prime Numbers Less Than N

In [18]:
def print_primes(n):
    for num in range(2, n):
        is_prime = True
        for i in range(2, num):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            print(num, end=", ")
print_primes(10)

2, 3, 5, 7,

12. Sum of Variable-Length Arguments

In [17]:
def sum_num(*args):
  return sum(args)
print (sum_num(2,3,4))

9

7.  Subsets of a List

In [16]:
input = [1, 2, 3]
output = [[]]

for num in input:
    newSubsets = []
    for existingSubset in output:
        newSubsets.append(existingSubset + [num])
    output.extend(newSubsets)

print(output)

[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]

8. Longest Increasing Subsequence

In [15]:
input = [10, 9, 2, 5, 3, 7, 101, 18]
longestSubsequence = 0
currentSubsequence = 1
for i in range(1, len(input)):
    if input[i] > input[i-1]:
        currentSubsequence += 1
    else:
        longestSubsequence = max(longestSubsequence, currentSubsequence)
        currentSubsequence = 1

longestSubsequence = max(longestSubsequence, currentSubsequence)
print(longestSubsequence)

3

9. Maximum Product of Two Numbers

In [14]:
input = [1, 10, -5, 1, 100]
maxProduct = float('-inf')
for i in range(len(input)):
    for j in range(i+1, len(input)):
        maxProduct = max(maxProduct, input[i] * input[j])

print(maxProduct)

1000